<!DOCTYPE html>
<html lang="en">
 <head>
	 <meta charset="UTF-8">
	 <title>My First Angular Application!</title>

	 <!-- CSS -->
	 <!-- load bootstrap and our stylesheet -->
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
	 	 
	 <style>
		body { padding-top:50px; }
		p.test {
			width: 20em; 
			word-wrap: break-word;
		}
		tr.playlist {
			text-align: center;
		}
		td.playlist_content p{
			text-align: center;
		}
		.modal-content {
			width:800px;
			background-color: gray;
		}
		
	 </style>
	 	 	 
 </head>
 <body class="container" ng-app="firstApp" ng-controller="mainController as main">
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">Youtube Artist Playlist</a>
			</div>
		
		</div>
	</nav>
	
	<!-- form to update the message variable using ng-model -->
	<div class="jumbotron">
		<p>Select an artist</p>
		<select class="form-control" id="artist" ng-init="selected = main.artistsList[0]" ng-model="selected" ng-options="artist for artist in main.artistsList" ng-change="selectArtist(selected)">
        </select>
	 </div>
	 <!-- display the list using ng-repeat -->
	
	<div class=row ng-repeat="video in main.videoarray track by $index" ng-if="$index % 3 == 0">
            <div class="col-xs-4 letter-box result-tile"
                <a href=''><img ng-click="toggleModal(main.videoarray[$index])" rel="{{main.videoarray[$index].videoId}}" ng-src=			"{{main.videoarray[$index].thumbnail.url}}"/>
				 <p class="test" ng-click="toggleModal(main.videoarray[$index])">{{ main.videoarray[$index].title }}</p></a>		 
				 
            </div>
			<div class="col-xs-4 letter-box result-tile"
                <a href=''><img ng-click="toggleModal(main.videoarray[$index+1])" rel="{{main.videoarray[$index+1].videoId}}" ng-src=			"{{main.videoarray[$index+1].thumbnail.url}}"/>
				 <p class="test" ng-click="toggleModal(main.videoarray[$index+1])">{{ main.videoarray[$index+1].title }}</p></a>		 
				 
            </div>
			<div class="col-xs-4 letter-box result-tile"
                <a href=''><img ng-click="toggleModal(main.videoarray[$index+2])" rel="{{main.videoarray[$index+2].videoId}}" ng-src=			"{{main.videoarray[$index+2].thumbnail.url}}"/>
				 <p class="test" ng-click="toggleModal(main.videoarray[$index+2])">{{ main.videoarray[$index+2].title }}</p></a>		 
				 
            </div>
			
     </div>
	
	<modal title="YouTube" visible="showModal">
                <iframe width="566" height="400" ng-src="{{selectedURL}}" frameborder="0" allowfullscreen></iframe>     
	</modal>
    
	
	
    <!-- JS -->
	 <!-- load angular and our custom application -->
	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
	 <script src="js/app.js"></script>
	
 </body>
</html>